/* HEADER */
.site-header {
  margin-bottom: 30px;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
}

.logo {
  height: 19px; /* proche maquette */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 68px; /* proche maquette desktop */
  margin: 0;
  padding: 0;
}

.nav-link {
  display: inline-block;
  padding: 16px 0;
  color: #000000;
  text-decoration: none;
  border-top: 2px solid transparent; /* desktop: barre en haut */
}

.nav-link:hover {
  color: #0065FC;
  border-top-color: #0065FC;
}
