/* HEADER *//* SEARCH SECTION */
.search-section {
    margin-top: 30px;
}

.main-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 8px;
}

.subtitle {
    margin-bottom: 35px;
}

.search-form {
    display: flex;
    align-items: center;
    width: 377px;
    height: 49px;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    overflow: hidden;
}

.search-icon {
    width: 50px;
    height: 49px;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 700;
    padding-left: 10px;
}

.search-button {
    background-color: #0065FC;
    color: white;
    border: none;
    height: 49px;
    padding: 0 16px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.search-glass {
    display: none; /* sera activé en mobile plus tard */
}

.site-header {
  margin-bottom: 30px;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
}

.logo {
  height: 19px; /* proche maquette */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 68px; /* proche maquette desktop */
  margin: 0;
  padding: 0;
}

.nav-link {
  display: inline-block;
  padding: 16px 0;
  color: #000000;
  text-decoration: none;
  border-top: 2px solid transparent; /* desktop: barre en haut */
}

.nav-link:hover {
  color: #0065FC;
  border-top-color: #0065FC;
}
