@media (max-width: 1024px) {

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements,
  .populaires {
    width: 100%;
  }

  .populaires {
    margin-top: 50px;
  }

  /* Populaires sur une ligne (3 cartes) */
  .populaires-cards {
    flex-direction: row;
    gap: 20px;
    align-items: stretch;
  }

  .populaires-cards .card-link {
    width: 33.33%;
    height: auto;
  }

  .populaire-card {
    height: 100%;
  }

  .populaire-card img {
    height: 146px;
    object-fit: cover;
  }

 /* ACTIVITES */

.activites-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.activite-card {
  height: 330px;
}

.activite-card img {
  height: 270px;

  object-fit: cover;
  object-position: center;
}
}