@media (max-width: 1024px) {

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements,
  .populaires {
    width: 100%;
  }

  .populaires {
    margin-top: 50px;
  }

  /* Populaires sur une ligne (3 cartes) */
  .populaires-cards {
    flex-direction: row;
    gap: 20px;
    align-items: stretch;
  }

  .populaires-cards .card-link {
    width: 33.33%;
    height: auto;
  }

  .populaire-card {
    height: 100%;
  }

  .populaire-card img {
    height: 146px;
    object-fit: cover;
  }

  /* Correction ACTIVITÉS tablette */

  .activites-cards {
    display: flex;
    gap: 20px;
  }

  .activite-card {
    width: 100%;
  }

  .activite-card img {
    height: 270px;
    object-fit: cover;
  }

}





